
/* entire container, keeps perspective */
.flip-container{
/*perspective*/
-webkit-perspective:1000;
   -moz-perspective:1000;
    -ms-perspective:1000;
     -o-perspective:1000;
        perspective:1000;
}

/* flip the pane when hovered */
	.flipped {
/*transform*/
-webkit-transform:rotateY(180deg);
   -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
     -o-transform:rotateY(180deg);
        transform:rotateY(180deg);
}
.flip-container, .front, .back{
width:350px;
height:50px;
}
/* flip speed goes here */
.flipper {
/*transition*/
-webkit-transition:0.6s;
   -moz-transition:0.6s;
     -o-transition:0.6s;
        transition:0.6s;
/*transform-style*/
-webkit-transform-style:preserve-3d;
   -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
     -o-transform-style:preserve-3d;
        transform-style:preserve-3d;
position:relative;
}
/* hide back of pane during swap */
.front, .back{
/*backface-visibility*/
-webkit-backface-visibility:hidden;
   -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
     -o-backface-visibility:hidden;
        backface-visibility:hidden;
position:absolute;
top:0;
left:0;
}
/* front pane, placed above back */
.front{
z-index:2;
}
/* back, initially hidden pane */
.back{
/*transform*/
-webkit-transform:rotateY(180deg);
   -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
     -o-transform:rotateY(180deg);
        transform:rotateY(180deg);
}
fieldset{
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 4px dashed cadetblue;
}
.formData{
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 5px solid darkslategrey;;
    color:black;
    box-shadow: 10px 10px 5px #888888;
    width:250px;
}
legend{
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0px;
    font-size: 21px;
    line-height: inherit;
   
    border-bottom:0px
}
.marginTop5{
        margin-top: 5px;
}
.heading{
        font-size: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
        
}
