<div class="row" id="whatever" >
  <div id="first" class="col-md-4 col-sm-4 col-lg-4"  #parent >
  <div class="flip-container">
    <div class="flipper" id="flip">
      <div class="front">
        <fieldset class="col-md-10">
        <legend style="width: 120px;">
          Goal
          
        </legend>   
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <input type="button" class="btn btn-danger " value="Add field" click>
          </div>
        </div>  
        <form  (ngSubmit)="onSubmit(taskForm)" novalidate   [formGroup]="taskForm" style="margin-top: 10px;">
            <div class="row ">
              <label for="taskName" class="col-md-5 col-sm-5 marginTop">Task Name </label>
              <div class="col-md-7 col-sm-7">
                <input type="text" class="form-control marginTop5" formControlName="taskName"  id="taskName" [(ngModel)]="objTaskForm.taskName">
                <small [hidden]="taskForm.controls.taskName.valid || (taskForm.controls.taskName.pristine && !submitted)">
                  Name is required (minimum 5 characters).
                </small>
              </div> 
            </div>
            <div class="row">
              <label class="col-md-5 col-sm-5">Description </label>
              <div class="col-md-7 col-sm-7 ">
                <textarea class="form-control marginTop5" formControlName="description" [(ngModel)]="objTaskForm.description">
                </textarea>
              </div>
            </div>
            <div class="row">
              <label class="col-md-5 col-sm-5">Time <small>(in hrs)</small></label>
              <div class="col-md-7 col-sm-7">
                <input type="number" class="form-control col-md-6 marginTop5" formControlName="time" [(ngModel)]="objTaskForm.time" >
              </div>
            </div>
            <div class="row">
              <label class="col-md-5 col-sm-5">Status </label>
              <div class="col-md-7 col-sm-7">
                <input type="text" class="form-control col-md-6 marginTop5" >
              </div> 
            </div> 
            <div class="row">
            <div class="col-md-12 col-sm-12">
              <input type="submit" class="btn btn-success"  [disabled]="taskForm.invalid" style="margin-top:10px">
            </div> 
          </div>  

        </form> 
        
      </fieldset>
      </div>
      <div class="back">
        <fieldset class="formData">
          <legend style="width:50%">
            <img src="http://i.cdn.turner.com/drp/nba/hornets/sites/default/files/icon-give.png" (click)="clicked($event)" alt="HTML5 Icon" height="42" width="42">
            <span style="font-size: 30px;font-family: initial;font-style: italic ;color:teal">Edit</span>
          </legend>  
          
          <div class="">
            <span style="font-size: 20px">Task Name:  {{objTaskForm.taskName}}</span>
          </div>
          <div class="">
            <span style="font-size: 20px ">Description:  {{objTaskForm.description}}</span>
          </div>
          <div class="">
            <span style="font-size: 20px">Time:  {{objTaskForm.time}}</span>
          </div>
          <div class="">
            <span style="font-size: 20px">Task Name:  {{objTaskForm.taskName}}</span>
          </div>
      
      </fieldset>
      </div>
    </div>
  </div>
  </div>
    
</div>  

 