
<div class="container ">	
	<div class="area"  ></div>
	<nav class="main-menu" on-mouseover='over()' (mouseleave)="leave();">
				<ul>
					<li>
						<a href="">
							<i class="fa fa-home fa-2x"></i>
							<span class="nav-text"  >
								Dashboard
							</span>
						</a>
					
					</li>
					<li class="has-subnav">
						<a >
							<i class="fa fa-laptop fa-2x"></i>
							<span  class="nav-text" routerLink ="goal" routerLinkActive="active">Goal</span>
						</a>
						
					</li>
					<li class="has-subnav">
						<a >
						<i class="fa fa-list fa-2x"></i>
							<span class="nav-text" routerLink ="profile" routerLinkActive="active">
								Personal Details
							</span>
						</a>
						
					</li>
					<li class="has-subnav">
						<a href="">
						<i class="fa fa-folder-open fa-2x"></i>
							<span class="nav-text">
								Pages
							</span>
						</a>
					
					</li>
					<li>
						<a href="">
							<i class="fa fa-bar-chart-o fa-2x"></i>
							<span class="nav-text">
								Graphs and Statistics
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa fa-font fa-2x"></i>
							<span class="nav-text">
								Typography and Icons
							</span>
						</a>
					</li>
					<li>
					<a href="">
						<i class="fa fa-table fa-2x"></i>
							<span class="nav-text">
								Tables
							</span>
						</a>
					</li>
					<li>
					<a href="">
							<i class="fa fa-map-marker fa-2x"></i>
							<span class="nav-text">
								Maps
							</span>
						</a>
					</li>
					<li>
						<a href="">
						<i class="fa fa-info fa-2x"></i>
							<span class="nav-text">
								Documentation
							</span>
						</a>
					</li>
				</ul>

				<ul class="logout" style=" padding-bottom: 40px;">
					<li>
					<a href="">
							<i class="fa fa-power-off fa-2x"></i>
							<span class="nav-text">
								Logout
							</span>
						</a>
					</li>  
				</ul>
			</nav>
</div>		

<div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 container "  id="contentHome"  >
		
		<!--<dashboard></dashboard>-->
			<router-outlet></router-outlet>

</div>
